@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Scrollbar sutil */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 99px;
  }
}

@layer utilities {
  .bg-brand-dark { background-color: #1a0a3c; }
  .bg-brand-mid  { background-color: #2d1560; }
  .text-brand    { color: #7C3AED; }
}
